@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

// Colors

// Primary colors
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

// Neutral collors
$off-white: hsl(36, 100%, 99%);
$greyish-blue: hsl(233, 8%, 79%);
$dark-greyish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

// Typography

$font-size: 1rem;
$font-family: "Inter", sans-serif;
$font-weights: (
    regular:400,
    bold:700,
    extrabold:800
);
